*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


i.bx{
    height: 40px;
    width: 20px;
    background-color: red;
}



i.bx{
    height: 40px;
    width: 20px;
    background-color: red;
}
